log4j.logger.ros=INFO

log4j.logger.ros.mujoco_ros=DEBUG
log4j.logger.ros.mujoco_ros.pluginlib=INFO
log4j.logger.ros.mujoco_ros.actionlib=INFO

log4j.logger.ros.mujoco_ros_control=DEBUG
log4j.logger.ros.mujoco_ros_control.pluginlib=INFO

log4j.logger.ros.mujoco_ros_sensors=DEBUG
log4j.logger.ros.mujoco_ros_sensors.pluginlib=INFO
