<?xml version="1.0"?>
<launch>
  <arg name="modelfile" default="$(find mujoco_ros_control)/example/pendulum.xml" />
  <arg name="mujoco_plugin_config" default="$(find mujoco_ros_control)/example/ros_control_plugins_example.yaml" />
  <arg name="verbose" default="false" />

  <param name="robot_description" textfile="$(find mujoco_ros_control)/example/pendulum.urdf" />

  <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${logger}] [${node}]: ${message}"/>
  <env if="$(arg verbose)" name="ROSCONSOLE_CONFIG_FILE"
       value="$(find mujoco_ros)/config/rosconsole.config"/>

  <include file="$(find mujoco_ros)/launch/launch_server.launch" pass_all_args="true">
    <arg name="use_sim_time" value="true" />
  </include>

  <node pkg="controller_manager" type="spawner" name="controller_spawner"
        args="joint_state_controller fallback_effort_controller motor_effort_controller velocity_controller position_controller"
        output="screen" />
</launch>
