<robot name="r"><link name="base_link"/><link name="link_1"><inertial><mass value="1"/><inertia ixx=".01" ixy="0" ixz="0" iyy=".01" iyz="0" izz=".01"/></inertial></link><joint name="joint_1" type="revolute"><parent link="base_link"/><child link="link_1"/><axis xyz="0 0 1"/><limit lower="-1" upper="1" effort="10" velocity="1"/></joint><ros2_control name="s" type="system"><joint name="joint_1"><command_interface name="position"/></joint></ros2_control></robot>
