<?xml version="1.0"?>
<launch>

  <!-- Robot Customization -->
  <arg name="ns"                   default=""      description="namespace" />
  <arg name="verbose"              default="false" description="Whether more debug output should be printed." />
  <arg name="unpause"              default="false" description="Whether the simulation should be unpaused on start." />
  <arg name="headless"             default="false" />
  <arg name="render_offscreen"     default="true"  description="Whether offscreen rendering should be enabled." />
  <arg name="no_render"            default="false" description="Set to true to disabling rendering on- and off screen. (shorthand for render_offscreen:=false headless:=true)"/>
  <arg name="eval_mode"            default="false" description="Whether to run mujoco_ros in evaluation mode." />
  <arg name="admin_hash"           default="''"    description="Hash to verify critical operations in evaluation mode." />
  <arg name="debug"                default="false" description="Whether to run with gdb." />
  <arg name="debug_server"         default="false" description="Whether to run with gdbserver on port 1234" />
  <arg name="valgrind"             default="false" description="Whether to run with valgrind" />
  <arg name="valgrind_args"        default=""      description="arguments for valgrind" />
  <arg name="wait_for_xml"         default="false" description="Whether mujoco_ros should wait for an xml in the parameter server." />
  <arg name="realtime"             default="1.0"   description="Fraction of desired realtime (0,1]. -1 to run as fast as possible." />
  <arg name="profile"              default="false" description="Whether mujoco_ros should be profiled." />
  <arg name="num_sim_steps"        default="-1" />
  <arg name="mujoco_plugin_config" default="$(find-pkg-share mujoco_ros)/config/ros2_plugins_dummy.yaml"      description="Optionally provide the path to a yaml with plugin configurations to load." />
  <arg name="mujoco_threads"       default="1"     description="Number of threads to use in the MuJoCo simulation." />
  <arg name="gdb_term_cmd"         default="gnome-terminal -- " description="Command to open gdb in a new terminal. Common alternative: 'xterm -e '" />

  <arg name="modelfile"            default="$(find-pkg-share mujoco_ros)/assets/pendulum_world.xml"        description="MuJoCo xml file to load. Should define robot model and world." />
  <arg name="initial_joint_states" default="$(find-pkg-share mujoco_ros)/config/initial_joint_states.yaml" description="Provide a filepath containing initial joint states to load." />
  <arg name="console_config_file"  default="$(find-pkg-share mujoco_ros)/config/rosconsole.config"         description="Path to ROS console config used when verbose logging is active." />

  <arg name="use_sim_time" />

  <let unless="$(var verbose)" name="log_level" value="info" />
  <let if="$(var verbose)" name="log_level" value="debug" />

  <set_env name="RCUTILS_CONSOLE_OUTPUT_FORMAT" value="[{severity}] [{time}] [{name}] [{function_name}]: {message}"/>
  <set_env name="RCUTILS_COLORIZED_OUTPUT" value="1"/>
  <!-- <set_env if="$(var verbose)" name="ROSCONSOLE_CONFIG_FILE" -->
       <!-- value="$(var console_config_file)"/> -->

  <group if="$(var debug)">
    <group unless="$(var debug_server)">
      <node pkg="mujoco_ros" exec="mujoco_node" output="screen" launch-prefix="$(var gdb_term_cmd) gdb --args" args="--admin-hash $(var admin_hash) --ros-args --log-level mujoco_server:=$(var log_level) --log-level mujoco_ros_plugin_loader:=$(var log_level) --log-level Viewer:=$(var log_level)" >
        <param name="/use_sim_time"        value="$(var use_sim_time)"/>
        <param name="ns"                   value="$(var ns)" />
        <param name="unpause"              value="$(var unpause)" />
        <param name="headless"             value="$(var headless)" />
        <param name="render_offscreen"     value="$(var render_offscreen)" />
        <param name="no_render"            value="$(var no_render)" />
        <param name="num_steps"            value="$(var num_sim_steps)" />
        <param name="eval_mode"            value="$(var eval_mode)" />
        <param name="modelfile"            value="$(var modelfile)" />
        <param name="wait_for_xml"         value="$(var wait_for_xml)" />
        <param name="realtime"             value="$(var realtime)" />
        <param name="num_mj_threads"       value="$(var mujoco_threads)" />
        <param name="log_level"            value="$(var log_level)" />
        <param from="$(var initial_joint_states)" />
        <param from="$(var mujoco_plugin_config)" />
      </node>
    </group>
    <group if="$(var debug_server)">
      <node pkg="mujoco_ros" exec="mujoco_node" output="screen" launch-prefix="gdbserver localhost:1234" args="--admin-hash $(var admin_hash) --ros-args --log-level mujoco_server:=$(var log_level) --log-level mujoco_ros_plugin_loader:=$(var log_level) --log-level Viewer:=$(var log_level)" >
        <param name="/use_sim_time"        value="$(var use_sim_time)"/>
        <param name="ns"                   value="$(var ns)" />
        <param name="unpause"              value="$(var unpause)" />
        <param name="headless"             value="$(var headless)" />
        <param name="render_offscreen"     value="$(var render_offscreen)" />
        <param name="no_render"            value="$(var no_render)" />
        <param name="num_steps"            value="$(var num_sim_steps)" />
        <param name="eval_mode"            value="$(var eval_mode)" />
        <param name="modelfile"            value="$(var modelfile)" />
        <param name="wait_for_xml"         value="$(var wait_for_xml)" />
        <param name="realtime"             value="$(var realtime)" />
        <param name="num_mj_threads"       value="$(var mujoco_threads)" />
        <param name="log_level"            value="$(var log_level)" />
        <param from="$(var initial_joint_states)" />
        <param from="$(var mujoco_plugin_config)" />
      </node>
    </group>
  </group>

  <group unless="$(var debug)">
    <group if="$(var valgrind)">
      <node pkg="mujoco_ros" exec="mujoco_node" output="screen" args="--admin-hash $(var admin_hash) --ros-args --log-level mujoco_server:=$(var log_level) --log-level mujoco_ros_plugin_loader:=$(var log_level)" launch-prefix="valgrind $(var valgrind_args) --log-level Viewer:=$(var log_level)" >
        <param name="/use_sim_time"        value="$(var use_sim_time)"/>
        <param name="ns"                   value="$(var ns)" />
        <param name="unpause"              value="$(var unpause)" />
        <param name="headless"             value="$(var headless)" />
        <param name="render_offscreen"     value="$(var render_offscreen)" />
        <param name="no_render"            value="$(var no_render)" />
        <param name="num_steps"            value="$(var num_sim_steps)" />
        <param name="eval_mode"            value="$(var eval_mode)" />
        <param name="modelfile"            value="$(var modelfile)" />
        <param name="wait_for_xml"         value="$(var wait_for_xml)" />
        <param name="realtime"             value="$(var realtime)" />
        <param name="num_mj_threads"       value="$(var mujoco_threads)" />
        <param name="log_level"            value="$(var log_level)" />
        <param from="$(var initial_joint_states)" />
        <param from="$(var mujoco_plugin_config)" />
      </node>
    </group>
    <group unless="$(var valgrind)">
      <group if="$(var profile)">
        <set_env name="CPUPROFILE" value="/tmp/profile.out" />
      </group>

      <node pkg="mujoco_ros" exec="mujoco_node" output="screen" args="--admin-hash $(var admin_hash) --ros-args --log-level mujoco_server:=$(var log_level) --log-level mujoco_ros_plugin_loader:=$(var log_level) --log-level Viewer:=$(var log_level)" >
        <param name="use_sim_time"        value="$(var use_sim_time)"/>
        <param name="ns"                   value="$(var ns)" />
        <param name="unpause"              value="$(var unpause)" />
        <param name="headless"             value="$(var headless)" />
        <param name="render_offscreen"     value="$(var render_offscreen)" />
        <param name="no_render"            value="$(var no_render)" />
        <param name="num_steps"            value="$(var num_sim_steps)" />
        <param name="eval_mode"            value="$(var eval_mode)" />
        <param name="modelfile"            value="$(var modelfile)" />
        <param name="wait_for_xml"         value="$(var wait_for_xml)" />
        <param name="realtime"             value="$(var realtime)" />
        <param name="num_mj_threads"       value="$(var mujoco_threads)" />
        <param from="$(var initial_joint_states)" />
        <param from="$(var mujoco_plugin_config)" />
      </node>
    </group>
  </group>

</launch>
