<?xml version="1.0"?>
<launch>

  <arg name="vebose"      default="false"  doc="Should more debug output be printed?" />
  <arg name="unpause"     default="false"  doc="Should the simulation be unpaused on start?" />
  <arg name="headless"   default="false" doc="Should the simulation be rendered." />
  <arg name="num_sim_steps"   default="-1" doc="Number of simulation steps to run. Set to '-1' to run indefinitely." />

  <param name="/use_sim_time" value="true"/>

  <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${logger}] [${node}]: ${message}"/>
  <env if="$(arg verbose)" name="ROSCONSOLE_CONFIG_FILE"
       value="$(find mujoco_ros)/rosconsole.config"/>


  <rosparam>
    MujocoPlugins:
      - type: dummyPlugin/DummyPlugin
      - type: mujoco_ros_control/MujocoRosControlPlugin
        hardware:
        - type: myCustom/HWSim
          robot_namespace: my_robot_ns
          nested:
          - n1: 101
            n2: someval
      - type: mujoco_ros_control/MujocoRosControlPlugin
        hardware:
        - type: myCustom/HWSim
          robot_namespace: my_robot_ns2
          control_period: 0.001
      - type: mujoco_drake_surfaces_pgk/ContactSimClass -->
  </rosparam>

  <node pkg="mujoco_ros" type="mujoco_server" name="mujoco_server" output="screen" >
    <param name="modelfile" type="str"  value="$(arg modelfile)" />
    <param name="unpause"   value="$(arg unpause)" />
    <param name="visualize"   value="$(eval not arg('headless'))" />
    <param name="num_steps"   value="$(arg num_sim_steps)" />
  </node>
</launch>
